.h-min-200 {
  min-height: 200px;
}

.profile-img-style {
  margin: 20px;
  width: 150px;
  height: 150px;
}

.nav-link, .card-link {
  cursor: pointer;
}

.nav-link.active {
  border-color: #fff;
  border-bottom: 2px solid #0087E2;
}
