<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="input-group input-group-md home-search-box">
        <input type="text" class="form-control input-search" #searchBox
         (keyup.enter)="onSearchEnter(searchBox.value)"
          placeholder="Explore Experiences" aria-label="Explore Experiences" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn input-group-text home-search-btn" id="basic-addon2">
            <i class="fa fa-search fa-lg"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
